html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
}

.page {
  position: relative;
  display: table;
  table-layout: fixed;
  width: 100vw;
  height: 100vh;
  line-height: normal;
  text-align: center;
  font-family:
    Open Sans,
    sans-serif;
  font-size: 1.1em;
  color: #fff;
  background-color: #f0f0f0;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.container {
  position: relative;
  display: table-cell;
  width: 100%;
  vertical-align: middle;
  padding: 1em 2em;
  z-index: 1;
}

.logo {
  max-width: 350px;
}

  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  object-fit: cover;
}

.content {
  max-width: 900px;
  margin: 0 auto;
}

.social-links:empty {
  outline: 1px solid yellow;
}

.social-links {
  padding: 1em 0;
  vertical-align: middle;
}

.social-links a {
  padding: 0 0.3em;
  line-height: normal;
}

.footer {
  position: absolute;
  display: block;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 1em;
  font-size: 0.8em;
}
.footer p {
  margin: 0;
  padding: 0;
  font-size: 12px;
}

@media screen {
  .page[class] {
    background-image: url("static/bgnd.png");
  }
}
body.debug:after {
  content: "default";
  position: fixed;
  left: 0;
  bottom: 0;
  background-color: white;
  color: black;
  padding: 0.5em;
  font-size: 10px;
  text-transform: uppercase;
}
@media screen and (max-width: 640px) {
  body.debug:after {
    content: "small";
  }
  h1 {
    font-size: 2em;
  }
  ul,
  ol {
    max-width: none;
  }
  .page {
    min-width: 300px;
  }
  .page .container {
    padding: 3em;
  }
  .page,
  .page[class] {
    background-image: url("static/bgnd.png");
  }
}

@media screen and (min-width: 641px) and (max-width: 1199px),
  (min-height: 500px) and (max-height: 1199px) {
  body.debug:after {
    content: "medium";
  }
  .page,
  .page[class] {
    background-image: url("static/bgnd.png");
  }
}

@media screen and (min-width: 1200px) {
  body.debug:after {
    content: "large";
  }
  .page,
  .page[class] {
    background-image: url("static/bgnd.png");
  }
}

.page .fallback-bg {
  display: none;
}
